In [107]:
# !pip install pyodbc

In [1]:
import os
import pandas as pd
import pyodbc
from IPython.display import display
import warnings
warnings.filterwarnings("ignore")

#### Load CSV files

In [109]:
# file_path = r"C:\Users\ASUS\Desktop\Training Learnings\Teamwork task\TASK 2\Dataset"
# for file in os.listdir(file_path):
#     if file.startswith('Hockey'):
#         data_path = os.path.join(file_path,file)
#         src = pd.read_csv(data_path,encoding = 'latin1')
#         display(src.head())

src1 = pd.read_csv(r"C:\Users\ASUS\Desktop\Training Learnings\Teamwork task\TASK 2\Dataset\Hockey_Src1.csv", encoding='latin1')
src2 = pd.read_csv(r"C:\Users\ASUS\Desktop\Training Learnings\Teamwork task\TASK 2\Dataset\Hockey_Src2.csv", encoding='latin1')

display(src1.head())
display(src2.head())

,Year,Month,Match,Player Name,Club Name,country Name,Position,Jersey_No,D. O. B.,Nationality,...,shots on target,fouls made,fouls suffered,yellow card,red card,goals saved,goals conceded(stopped),total penalty,successful penalty,salary
0,2010,January,International,Adrian,NaN,Netherlands,LW,88,30-Mar-85,Netherlands,...,49,8,0,0,0,29,23,2,1,"$2,424.88"
1,2010,February,International,Adrian,NaN,Netherlands,LW,88,30-Mar-85,Netherlands,...,44,3,5,4,2,19,21,0,0,"$2,424.88"
2,2010,March,International,Adrian,NaN,Netherlands,LW,88,30-Mar-85,Netherlands,...,45,11,7,1,1,26,15,0,0,"$2,424.88"
3,2010,April,International,Adrian,NaN,Netherlands,LW,88,30-Mar-85,Netherlands,...,50,7,0,1,2,18,30,3,3,"$2,424.88"
4,2010,May,International,Adrian,NaN,Netherlands,LW,88,30-Mar-85,Netherlands,...,45,12,2,0,1,25,25,5,3,"$2,424.88"

,Year,Match_Name,League_Name,Club_Name,Coach,Country Name,Manager,Owner,appearances,wins,losts,drawn,clean sheets,Net Worth
0,2010,Club,LA Liga,Atheletico Madrid,NaN,NaN,Alvin Lucas,Dean Green,8,7,0,1,5,"$745,634"
1,2010,Club,LA Liga,Atheletico Madrid,NaN,NaN,Alvin Lucas,Dean Green,8,2,1,5,1,"$745,634"
2,2010,Club,LA Liga,Atheletico Madrid,NaN,NaN,Alvin Lucas,Dean Green,8,6,1,1,3,"$745,634"
3,2010,Club,LA Liga,Atheletico Madrid,NaN,NaN,Alvin Lucas,Dean Green,8,6,1,1,4,"$745,634"
4,2010,Club,LA Liga,Atheletico Madrid,NaN,NaN,Alvin Lucas,Dean Green,8,4,3,1,3,"$745,634"

In [110]:
src1['salary_int'] = pd.to_numeric(src1['salary'].astype(str).str.strip().replace({'\$': '', ',': '', '`': ''}, regex=True), errors='coerce').astype('float64').round(2)
src2['Net_Worth_int'] = pd.to_numeric(src2['Net Worth'].astype(str).str.strip().replace({'\$': '', ',': '', '`': ''}, regex=True), errors='coerce').astype('float64').round(2)

src1['salary_int'] = src1['salary_int'].fillna(0)
src2['Net_Worth_int'] = src2['Net_Worth_int'].fillna(0)

src1['D. O. B.'] = pd.to_datetime(src1['D. O. B.'], errors='coerce')
src1['salary'].fillna(0, inplace=True)

In [111]:
print("SRC-1 data types:")
display(src1.dtypes)

print("\nSRC-2 data types:")
display(src2.dtypes)

SRC-1 data types:

Year                                int64
Month                              object
Match                              object
Player Name                        object
Club Name                          object
country Name                       object
Position                           object
Jersey_No                           int64
D. O. B.                   datetime64[ns]
Nationality                        object
appearances                         int64
goals scored                        int64
goals assist                        int64
total shots                         int64
shots on target                     int64
fouls made                          int64
fouls suffered                      int64
yellow card                         int64
red card                            int64
goals saved                         int64
goals conceded(stopped)             int64
total penalty                       int64
successful penalty                  int64
salary                             object
salary_int                        float64
dtype: object

SRC-2 data types:

Year               int64
Match_Name        object
League_Name       object
Club_Name         object
Coach             object
Country Name      object
Manager           object
Owner             object
appearances        int64
wins               int64
losts              int64
drawn              int64
clean sheets       int64
Net Worth         object
Net_Worth_int    float64
dtype: object

In [112]:
src2['Net_Worth_int'].isna().any().sum()

0

In [2]:
# conn = pyodbc.connect(
#     'DRIVER={ODBC Driver 17 for SQL Server};'
#     'SERVER=LAPTOP-G2BQOO08\\SQLEXPRESS;'
#     'DATABASE=hockey;'
#     'Trusted_Connection=yes;'
#     'TrustServerCertificate=yes;'
# )



DRIVER = 'SQL SERVER'
SERVER_NAME = 'LAPTOP-21HB2I8N\SQLEXPRESS'
DATABASE_NAME = 'Soccer'


CONNECTION_STRING = F"DRIVER={DRIVER}; SERVER={SERVER_NAME}; DATABASE={DATABASE_NAME}; Trusted_Connection=yes; TrustServerCertificate=yes;"
conn = pyodbc.connect(CONNECTION_STRING)

print(conn)

<pyodbc.Connection object at 0x000002BA60412A70>

In [3]:
cursor = conn.cursor()

In [5]:
# cursor.execute("drop table if exists Player")
# cursor.execute("drop table if exists hockey_src2")

In [116]:
# create_table_hockey_src1 = """
# CREATE TABLE hockey_src1 (
#     match_year INT,
#     match_month VARCHAR(20),
#     match_level VARCHAR(50),
#     player_name VARCHAR(100),
#     club_name VARCHAR(100),
#     country_name VARCHAR(100),
#     player_position VARCHAR(20),
#     jersey_no INT,
#     dob DATETIME,
#     nationality VARCHAR(100),
#     appearances INT,
#     goals_scored INT,
#     goals_assist INT,
#     total_shots INT,
#     shots_o_target INT,
#     fouls_made INT,
#     fouls_suffered INT,
#     yellow_card INT,
#     red_card INT,
#     goals_saved INT,
#     goals_conceded INT,
#     total_penalty INT,
#     successful_penalty INT,
#     salary VARCHAR(50),
#     salary_int FLOAT
# );
# """

# create_table_hockey_src2 = """
# CREATE TABLE hockey_src2 (
#     match_year INT,
#     match_name VARCHAR(50),
#     league_name VARCHAR(50),
#     club_name VARCHAR(100),
#     coach VARCHAR(100),
#     country_name VARCHAR(50),
#     manager VARCHAR(100),
#     team_owner VARCHAR(100),
#     appearances INT,
#     wins INT,
#     losses INT,
#     drawn INT,
#     clean_sheets INT,
#     net_worth VARCHAR(50),
#     net_worth_int FLOAT
# );
# """

# cursor.execute(create_table_hockey_src1)
# cursor.execute(create_table_hockey_src2)
# cursor.commit()

In [117]:
# for _, row in src1.iterrows():
#     # Replace NaN with None to avoid invalid float values
#     row = tuple(None if pd.isna(x) else x for x in row)
#     cursor.execute("""
#         INSERT INTO hockey_src1 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
#     """, row)
# for _, row in src2.iterrows():
#     row = tuple(None if pd.isna(x) else x for x in row)
#     cursor.execute("""
#         INSERT INTO hockey_src2 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
#     """, row)

In [118]:
# conn.commit()

# Creating Dimension Tables
- League
- Club
- Country
- Match_type
- Player
- Time

In [119]:
# # create_table_League = """
# # CREATE TABLE League (
# #     League_ID INT PRIMARY KEY,
# #     League_Name VARCHAR(50)
# # );
# # """

# create_table_Club = """
# CREATE TABLE Club (
#     Club_ID INT PRIMARY KEY,
#     League_ID INT REFERENCES League(League_ID),
#     Club_Name VARCHAR(50),
#     Manager VARCHAR(20),
#     Owner VARCHAR(20)
# );
# """

# create_table_Country = """
# CREATE TABLE Country (
#     Country_ID INT PRIMARY KEY,
#     Country_Name VARCHAR(20),
#     Coach VARCHAR(20)
# );
# """

# create_table_Match_Type = """
# CREATE TABLE Match_Type (
#     Match_Type_ID INT PRIMARY KEY,
#     Match_Name VARCHAR(20)
# );
# """

# create_table_player = """
# CREATE TABLE Player(
#     Player_ID INT PRIMARY KEY,
#     Player_Name VARCHAR(50),
#     Club_ID INT REFERENCES Club(Club_ID),
#     Country_ID INT REFERENCES Country(Country_ID),
#     Position CHAR(5),
#     Jersey_No INT,
#     DOB DATE,
#     Nationality VARCHAR(20)
# );
# """

# create_table_time = """
# CREATE TABLE Time_Data (
#     Time_ID INT PRIMARY KEY,
#     Year INT,
#     Quarter INT,
#     Month INT
# );
# """

# # cursor.execute(create_table_League)
# cursor.execute(create_table_Club)
# cursor.execute(create_table_Country)
# cursor.execute(create_table_Match_Type)
# cursor.execute(create_table_player)
# cursor.execute(create_table_time)
# cursor.commit()

In [120]:
# conn.commit()

In [6]:
# with conn.cursor() as cursor:
#     cursor.execute(create_table_player)
# cursor.commit()

# Creating Fact Tables
- Fact_Player_Stats
- Fact_Team_Stats

In [14]:
# create_fact_player_stats_table = """
# CREATE TABLE fact_player_stats (
#     Fact_ID INT primary key IDENTITY(1,1),
#     Time_ID INT,
#     Match_type_id INT references Match_Type(Match_Type_ID),
#     Player_id INT,
#     Club_id INT references Club(Club_ID),
#     Country_id INT references Country(Country_ID),
#     Appearances INT,
#     Goals_scored INT,
#     Goals_assist INT,
#     Total_shots INT,
#     Shots_on_target INT,
#     fouls_made INT,
#     fouls_suffered INT,
#     yellow_card INT,
#     red_card INT,
#     goals_saved INT,
#     goals_conceded INT,
#     total_penalty INT,
#     successful_penalty INT,
#     salary FLOAT
# );
# """
# with conn.cursor() as cursor:
#     cursor.execute(create_fact_player_stats_table)
# cursor.commit()


# create_fact_team_stats_table = """
# CREATE TABLE fact_team_stats (
#     Fact_ID INT primary key IDENTITY(1,1),
#     Time_ID INT,
#     Match_type_id INT references Match_Type(Match_Type_ID),
#     League_ID INT references League(League_ID),
#     Club_ID INT references Club(Club_ID),
#     Country_ID INT references Country(Country_ID),
#     Appearances INT,
#     Wins INT,
#     losses INT,
#     Drawn INT,
#     Clean_sheets INT,
#     Net_worth FLOAT
# );
# """
# with conn.cursor() as cursor:
#     cursor.execute(create_fact_team_stats_table)
# cursor.commit()

# Data Insertion in Dimension Tables

#### League Table:

In [15]:
# League_Query = """
# INSERT INTO League (League_ID, League_Name)
# SELECT League_ID, League_Name
# FROM (
#     SELECT 
#         DENSE_RANK() OVER (ORDER BY League_Name) AS League_ID,
#         League_Name
#     FROM (
#         SELECT DISTINCT League_Name 
#         FROM Hockey_Src2
#         where League_Name is not null
#     ) AS unique_leagues
# ) AS ranked_leagues;
# """

# with conn.cursor() as cursor:
#     cursor.execute(League_Query)

#### Club Table:

In [16]:
# Club_Query = """
# INSERT INTO Club (Club_ID, League_ID, Club_Name, Manager, Owner)
# SELECT Club_ID, League_ID, Club_Name, Manager, team_owner
# FROM (
#     SELECT 
#         DENSE_RANK() OVER (ORDER BY Club_Name) AS Club_ID,
#         League_ID,
#         Club_Name,
#         Manager,
#         team_owner
#     FROM (
#         SELECT DISTINCT 
#             L.League_ID,
#             src2.Club_Name,
#             src2.Manager,
#             src2.team_owner
#         FROM Hockey_Src2 src2
#         JOIN League L
#             ON L.League_Name = src2.League_Name
#         WHERE src2.Club_Name IS NOT NULL
#     ) AS unique_clubs
# ) AS ranked_clubs;
# """

# with conn.cursor() as cursor:
#     cursor.execute(Club_Query)
# cursor.commit()

#### Country Table:

In [17]:
# Country_Query = """
# INSERT INTO Country (Country_ID, Country_Name)
# SELECT 
#     DENSE_RANK() OVER (ORDER BY Country_Name) AS Country_ID,
#     Country_Name
# FROM (
#     SELECT DISTINCT Country_Name
#     FROM Hockey_Src1
#     WHERE Country_Name IS NOT NULL
# ) AS distinct_countries;
# """
# with conn.cursor() as cursor:
#     cursor.execute(Country_Query)
# cursor.commit()

#### Player Table:

In [4]:
# Temporary_Table_query = """
# SELECT DISTINCT
#     COALESCE(a.player_name, b.player_name) AS player_name,
#     a.club_id,
#     b.country_id,
#     COALESCE(a.player_position, b.player_position) AS player_position,
#     COALESCE(a.Jersey_No, b.Jersey_No) AS Jersey_No,
#     COALESCE(a.DOB, b.DOB) AS DOB,
#     COALESCE(a.Nationality, b.Nationality) AS Nationality
# INTO ##temp_player_ids
# FROM (
#     SELECT 
#         hs1.player_name, 
#         c.club_id,
#         hs1.player_position,
#         hs1.Jersey_No,
#         hs1.DOB,
#         hs1.Nationality
#     FROM hockey_src1 hs1
#     JOIN Club c ON c.club_name = hs1.club_name
# ) a
# FULL OUTER JOIN (
#     SELECT 
#         hs1.player_name, 
#         co.country_id,
#         hs1.player_position,
#         hs1.Jersey_No,
#         hs1.DOB,
#         hs1.Nationality
#     FROM hockey_src1 hs1
#     JOIN Country co ON co.country_name = hs1.country_name
# ) b
# ON a.player_name = b.player_name;
# """
# with conn.cursor() as cursor:
#     cursor.execute(Temporary_Table_query)
# cursor.commit()

# player_table_query = """
# INSERT INTO Player(Player_ID, Player_Name, Club_ID, Country_ID, Position, Jersey_No, DOB, Nationality)
# SELECT 
#     DENSE_RANK() OVER (ORDER BY player_name) AS Player_ID,
#     player_name,
#     club_id,
#     country_id,
#     player_position,
#     Jersey_No,
#     DOB,
#     Nationality
# FROM ##temp_player_ids;
# """

# with conn.cursor() as cursor:
#     cursor.execute(player_table_query)
# cursor.commit()

#### Match_Type Table:

In [19]:
# match_type_query = """
# Insert into Match_type(Match_type_id,Match_name) values
# (1, 'Club'),
# (2, 'International');
# """
# with conn.cursor() as cursor:
#     cursor.execute(match_type_query)
# cursor.commit()

# Data Insertion in Fact Tables

#### Fact_Player_Stats Table:

In [3]:
# Temporary_table_creation_query = """
# CREATE TABLE ##temp_player_stats (
#     player_id INT,
#     match_type_id INT,
#     Goals_Scored INT,
#     Goals_Assists INT,
#     Total_shots INT,
#     Shots_on_target INT,
#     Fouls_Made INT,
#     Fouls_Suffered INT,
#     Yellow_Card INT,
#     Red_Card INT,
#     Goals_saved INT,
#     Goals_Conceded INT,
#     Total_penalty INT,
#     Successful_Penalty INT,
#     Salary DECIMAL(18,2),
#     PRIMARY KEY (player_id, match_type_id)
# );
# """
# with conn.cursor() as cursor:
#     cursor.execute(Temporary_table_creation_query);
# cursor.commit()


# Inserting_data_in_temporary_table = """
# INSERT INTO ##temp_player_stats
# SELECT 
#     p.player_id,
#     mt.match_type_id,
#     SUM(hs1.goals_scored) AS Goals_Scored,
#     SUM(hs1.goals_assist) AS Goals_Assists,
#     SUM(hs1.total_shots) AS Total_shots,
#     SUM(hs1.shots_o_target) AS Shots_on_target,
#     SUM(hs1.fouls_made) AS Fouls_Made,
#     SUM(hs1.fouls_suffered) AS Fouls_Suffered,
#     SUM(hs1.yellow_card) AS Yellow_Card,
#     SUM(hs1.red_card) AS Red_Card,
#     SUM(hs1.goals_saved) AS Goals_saved,
#     SUM(hs1.goals_conceded) AS Goals_Conceded,
#     SUM(hs1.total_penalty) AS Total_penalty,
#     SUM(hs1.successful_penalty) AS Successful_Penalty,
#     SUM(hs1.salary_int) AS Salary
# FROM Hockey_Src1 hs1
# JOIN Player p 
#   ON LTRIM(RTRIM(LOWER(p.player_name))) = LTRIM(RTRIM(LOWER(hs1.player_name)))
#   AND LTRIM(RTRIM(LOWER(p.position))) = LTRIM(RTRIM(LOWER(hs1.player_position)))
# JOIN match_type mt 
#   ON LTRIM(RTRIM(LOWER(mt.match_name))) = LTRIM(RTRIM(LOWER(hs1.match_level)))
# WHERE LTRIM(RTRIM(LOWER(hs1.match_level))) IN ('club', 'international')
# GROUP BY 
#     p.player_id,
#     mt.match_type_id;
# """

# inserting_player_id_into_fact_player_table = """
# Insert into Fact_Player_stats(match_type_id, player_id, Goals_Scored, Goals_Assist, Total_shots, Shots_on_target, Fouls_made, Fouls_Suffered, Yellow_Card, Red_Card, Goals_Saved, Goals_Conceded, Total_Penalty, Successful_Penalty, Salary)
# select
#       match_type_id, player_id, Goals_Scored, Goals_Assists, Total_shots, Shots_on_target, Fouls_made, Fouls_Suffered, Yellow_Card, Red_Card, Goals_Saved, Goals_Conceded, Total_Penalty, Successful_Penalty, Salary
# From ##temp_player_stats tps
# """

# updating_remaining_columns_into_fact_player_statss = """
# UPDATE fps
# SET 
#     fps.club_id = p.club_id,
#     fps.country_id = p.country_id,
#     fps.appearances = 8
# FROM fact_player_stats fps
# JOIN player p ON fps.player_id = p.player_id;
# """
# with conn.cursor() as cursor:
#     cursor.execute(updating_remaining_columns_into_fact_player_statss)
# cursor.commit()

#### Fact_Team_Stats_Table:

In [ ]:
temp_table_creation_query = """
create temporary table temp_club_data as
select
c.club_id,
c.club_name,
sum(hs2.wins) as wins,
sum(hs2.losts) as losts,
sum(hs2.Drawn) as drawn,
sum(hs2.`clean sheets`) as Clean_Sheets,
sum(hs2.net_worth_int) as Net_worth
from Hockey_Src2 hs2
join club c
on c.club_name = hs2.club_name
group by c.club_id, c.club_name;
"""