In [33]:
import pandas as pd
import pyodbc

ModuleNotFoundError: No module named 'ipython'

In [3]:
# Cell 2: Load CSV files
src1 = pd.read_csv("Hockey_Src1.csv", encoding='latin1')
src2 = pd.read_csv("Hockey_Src2.csv", encoding='latin1')

print(src1.head())
print(src2.head())

   match_year match_month    match_level player_name club_name country_name  \
0        2010     January  International      Adrian       NaN  Netherlands
1        2010    February  International      Adrian       NaN  Netherlands
2        2010       March  International      Adrian       NaN  Netherlands
3        2010       April  International      Adrian       NaN  Netherlands
4        2010         May  International      Adrian       NaN  Netherlands

  player_position  jersey_no                  dob  nationality  ...  \
0              LW         88  1985-03-30 00:00:00  Netherlands  ...
1              LW         88  1985-03-30 00:00:00  Netherlands  ...
2              LW         88  1985-03-30 00:00:00  Netherlands  ...
3              LW         88  1985-03-30 00:00:00  Netherlands  ...
4              LW         88  1985-03-30 00:00:00  Netherlands  ...

   shots_o_ target  fouls_made  fouls_suffered  yellow_card  red_card  \
0               49           8               0            0         0
1               44           3               5            4         2
2               45          11               7            1         1
3               50           7               0            1         2
4               45          12               2            0         1

   goals_saved  goals_conceded  total_penalty  successful_penalty   salary
0           29              23              2                   1  2424.88
1           19              21              0                   0  2424.88
2           26              15              0                   0  2424.88
3           18              30              3                   3  2424.88
4           25              25              5                   3  2424.88

[5 rows x 24 columns]
   match_year match_name league_name           club_name coach country_name  \
0        2010       Club     LA Liga   Atheletico Madrid   NaN          NaN
1        2010       Club     LA Liga   Atheletico Madrid   NaN          NaN
2        2010       Club     LA Liga   Atheletico Madrid   NaN          NaN
3        2010       Club     LA Liga   Atheletico Madrid   NaN          NaN
4        2010       Club     LA Liga   Atheletico Madrid   NaN          NaN

       manager  team_owner  appearances  wins  losts  drawn  clean_sheets  \
0  Alvin Lucas  Dean Green            8     7      0      1             5
1  Alvin Lucas  Dean Green            8     2      1      5             1
2  Alvin Lucas  Dean Green            8     6      1      1             3
3  Alvin Lucas  Dean Green            8     6      1      1             4
4  Alvin Lucas  Dean Green            8     4      3      1             3

   net_worth
0     745634
1     745634
2     745634
3     745634
4     745634

In [5]:
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-G2BQOO08\\SQLEXPRESS;'
    'DATABASE=hockey;'
    'Trusted_Connection=yes;'
    'TrustServerCertificate=yes;'
)
cursor = conn.cursor()

In [8]:
cursor.execute("drop table if exists hockey_src1")
cursor.execute("drop table if exists hockey_src2")

In [10]:
cursor.execute("""
create table hockey_src1(
match_year int,
match_month varchar(20),
match_level varchar(50),
player_name varchar(100),
club_name varchar(100),
country_name varchar(100),
player_position varchar(20),
jersey_no int,
dob datetime,
nationality varchar(100),
appearances int,
goals_scored int,
goals_assist int,
total_shots int,
shots_o_target int,
fouls_made int,
fouls_suffered int,
yellow_card int,
red_card int,
goals_saved int,
goals_conceded int,
total_penalty int,
successful_penalty int,
salary float


)



""")


cursor.execute("""
CREATE TABLE hockey_src2 (
    match_year INT,
    match_name VARCHAR(50),
    league_name VARCHAR(50),
    club_name VARCHAR(100),
    coach VARCHAR(100),
    country_name VARCHAR(50),
    manager VARCHAR(100),
    team_owner VARCHAR(100),
    appearances INT,
    wins INT,
    losts INT,
    drawn INT,
    clean_sheets INT,
    net_worth FLOAT
)
""")

In [11]:
conn.commit()

In [14]:
src1['salary'] = pd.to_numeric(src1['salary'], errors='coerce')
src1['dob'] = pd.to_datetime(src1['dob'], errors='coerce')
src1['salary'].fillna(0, inplace=True)

In [15]:
print(src1.dtypes)

match_year                     int64
match_month                   object
match_level                   object
player_name                   object
club_name                     object
country_name                  object
player_position               object
jersey_no                      int64
dob                   datetime64[ns]
nationality                   object
appearances                    int64
goals_scored                   int64
goals_assist                   int64
total_shots                    int64
shots_o_ target                int64
fouls_made                     int64
fouls_suffered                 int64
yellow_card                    int64
red_card                       int64
goals_saved                    int64
goals_conceded                 int64
total_penalty                  int64
successful_penalty             int64
salary                       float64
dtype: object

In [18]:
for _, row in src1.iterrows():
    # Replace NaN with None to avoid invalid float values
    row = tuple(None if pd.isna(x) else x for x in row)
    cursor.execute("""
        INSERT INTO hockey_src1 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
    """, row)
for _, row in src2.iterrows():
    row = tuple(None if pd.isna(x) else x for x in row)
    cursor.execute("""
        INSERT INTO hockey_src2 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?)
    """, row)

In [19]:
for _, row in src1.iterrows():
    row = tuple(None if pd.isna(x) else x for x in row)
    cursor.execute("""
        INSERT INTO hockey_src1 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
    """, row)

# Insert src2 data (14 values)
for _, row in src2.iterrows():
    row = tuple(None if pd.isna(x) else x for x in row)
    cursor.execute("""
        INSERT INTO hockey_src2 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?)
    """, row)

In [27]:
conn.commit()

In [29]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM hockey_src1")
for _ in range(10):   # print first 10 rows only
    row = cursor.fetchone()
    if not row:
        break
    print(row)
cursor.close()

(2010, 'January', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 8, 3, 67, 49, 8, 0, 0, 0, 29, 23, 2, 1, 2424.88)
(2010, 'February', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 7, 8, 77, 44, 3, 5, 4, 2, 19, 21, 0, 0, 2424.88)
(2010, 'March', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 7, 5, 59, 45, 11, 7, 1, 1, 26, 15, 0, 0, 2424.88)
(2010, 'April', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 10, 8, 71, 50, 7, 0, 1, 2, 18, 30, 3, 3, 2424.88)
(2010, 'May', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 10, 3, 80, 45, 12, 2, 0, 1, 25, 25, 5, 3, 2424.88)
(2010, 'June', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 7, 8, 63, 35, 11, 8, 1, 1, 16, 16, 0, 0, 2424.88)
(2010, 'July', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 7, 2, 75, 47, 7, 10, 4, 1, 22, 23, 0, 0, 2424.88)
(2010, 'August', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 7, 7, 71, 31, 12, 10, 1, 0, 28, 20, 0, 0, 2424.88)
(2010, 'September', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 8, 8, 54, 38, 7, 0, 4, 2, 17, 14, 2, 1, 2424.88)
(2010, 'October', 'International', 'Adrian', None, 'Netherlands', 'LW', 88, datetime.datetime(1985, 3, 30, 0, 0), 'Netherlands', 8, 7, 1, 70, 39, 12, 8, 4, 2, 21, 25, 0, 0, 2424.88)

In [30]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM hockey_src2")

for _ in range(10):  # print only first 10 rows
    row = cursor.fetchone()
    if not row:
        break
    print(row)

cursor.close()

(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 7, 0, 1, 5, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 2, 1, 5, 1, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 6, 1, 1, 3, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 6, 1, 1, 4, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 4, 3, 1, 3, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 2, 3, 3, 1, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 6, 0, 2, 4, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 5, 3, 0, 3, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 4, 2, 2, 1, 745634.0)
(2010, 'Club', 'LA Liga', ' Atheletico Madrid', None, None, 'Alvin Lucas', 'Dean Green', 8, 7, 0, 1, 4, 745634.0)

In [31]:
pip install ipython

Requirement already satisfied: ipython in c:\users\anant\appdata\roaming\python\python311\site-packages (8.12.0)
Requirement already satisfied: backcall in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (0.2.0)
Requirement already satisfied: decorator in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (2.14.0)
Requirement already satisfied: stack-data in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (5.9.0)
Requirement already satisfied: colorama in c:\users\anant\appdata\roaming\python\python311\site-packages (from ipython) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\anant\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\anant\appdata\roaming\python\python311\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in c:\users\anant\appdata\roaming\python\python311\site-packages (from stack-data->ipython) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\anant\appdata\roaming\python\python311\site-packages (from stack-data->ipython) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\anant\appdata\roaming\python\python311\site-packages (from stack-data->ipython) (0.2.2)
Requirement already satisfied: six in c:\users\anant\appdata\roaming\python\python311\site-packages (from asttokens>=2.1.0->stack-data->ipython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

ModuleNotFoundError: No module named 'ipython'